{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}
{% load widget_tweaks %}


{% block content %}

    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Spacer -->
    <div class="margin-top-90"></div>
    <!-- Spacer / End-->

    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <form class="sidebar-container" method="get">

                    <!-- Location -->
                    <div class="sidebar-widget">
                        <h3>Job Title</h3>
                        <div class="input-with-icon">
                            <div id="container">
                                {% render_field filter.form.title class="form-control" placeholder="Job Title" %}
                            </div>
                        </div>
                    </div>


                    <!-- Keywords -->
                    <div class="sidebar-widget">
                        <h3>Location</h3>
                        <div class="keywords-container">
                            {% render_field filter.form.city class="form-control" placeholder="Location" %}
                        </div>
                    </div>

                    <button class="btn btn-outline-primary btn-md my-sm-2" type="submit">Search</button>

                </form>
            </div>
            <div class="col-xl-9 col-lg-8 content-left-offset">

            <h3 class="job-listing-title">Active Jobs </h3>


                    <div class="listings-container margin-top-35">

                    {% for job in indeed %}

                        <!-- Job Listing -->
                        <a target="_blank" href="{{ job.get_absolute_url }}" class="job-listing">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <!-- Logo -->
                                <div class="job-listing-company-logo">
                                    <img src="{% static "new_theme/images/company-logo-01.png" %}" alt="">
                                </div>

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h4 class="job-listing-company">{{ job.company }} <span class="verified-badge"
                                                                                            title="Verified Employer"
                                                                                            data-tippy-placement="top"></span>
                                    </h4>
                                    <h3 class="job-listing-title">{{ job.title }}</h3>
                                    <p class="job-listing-text">{{ job.job_description | striptags | truncatewords:"30"| cut:"[" | cut:"]" | cut:"*" | cut:"'" | cut:"Job Summary" | cut:"\n"| cut:"-" }}</p>
                                </div>

                                <!-- Bookmark -->
                                <span class="bookmark-icon"></span>
                            </div>

                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer">
                                <ul>
                                    <li><i class="icon-material-outline-location-on"></i> {{ job.city }}</li>
                                    <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                    <li>
                                        <i class="icon-material-outline-account-balance-wallet"></i>{{ job.salary | cut:"a month" | cut:"a year" }}
                                    </li>
                                    <li><i class="icon-material-outline-access-time"></i> {{ job.date_posted }}</li>
                                </ul>
                            </div>
                        </a>

                    {% endfor %}


                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-30 margin-bottom-60">
                                <nav class="pagination">
                                    <ul>
                                        <li>
                                            {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->

                </div>

            </div>
        </div>
    </div>

{% endblock %}