{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}
{% load widget_tweaks %}



{% block content %}

    <div class="jumbotron">

        <form class="form-inline my-2 my-lg-0" method="get">
            {% render_field filter.form.title class="form-control" placeholder="Job Title" %}
            {% render_field filter.form.city class="form-control" placeholder="Location"%}
                <button class="btn btn-outline-primary btn-md my-sm-2" type="submit">Search</button>
            </form>
        <br>
        <p>Total Job Posted: <span class="text-primary">{{ total_jobs.count }}</span></p>

    </div>


    <div class="container">

    <p>Active Search: <span class="text-primary">({{ filter.qs.filter.count }})</span></p>

    </div>

    <div class="container-fluid">


            {% for job in indeed %}
                <div class="col-md-8" style="margin-bottom: 20px">
                    <div class="card border-default">
                        <div class="card-body">
                            <p><a href="{{ job.get_absolute_url }}" class="card-title text-primary" style="font-size: 25px">{{ job.title }}</a></p>
                            <p class="card-text">Company Name: {{ job.company }}, {{ job.city }}</p>

{#                            <p class="card-text">Experience: {{ job.experience }}</p>#}
                            <p class="card-text">Salary: {{ job.salary }}</p>
                            <p class="card-text"> Posted on:{{ job.date_posted | safe | cut:"-" }}</p>
                            <p class="card-text">
                                {{ job.job_description | striptags | truncatewords:"30"| cut:"[" | cut:"]" | cut:"*" | cut:"'" | cut:"Job Summary" | cut:"\n"| cut:"-"}}</p>
                            <a target="_blank" href="{{ job.get_absolute_url }}" class="btn btn-small btn-primary">View More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>




    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}


{% endblock %}