{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}


{% block content %}
    <!-- Intro Banner
    ================================================== -->
    <!-- add class "disable-gradient" to enable consistent background overlay -->
    <div class="intro-banner" data-background-image="images/home-background.jpg" xmlns="http://www.w3.org/1999/html">
        <div class="container">

            <!-- Intro Headline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-headline">
                        <h3>
                            <strong>Hire experts or be hired for any job, any time.</strong>
                            <br>
                            <span>Thousands of small businesses use <strong class="color">OIOJobs</strong> to turn their ideas into reality.</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Search Bar -->
            <div class="row">
                <div class="col-md-12">
                    <form class="intro-banner-search-form margin-top-95" method="get" action="{% url 'joblist' %}">

                        <!-- Search Field -->
                        <div class="intro-search-field">
                            <label for="intro-keywords" class="field-title ripple-effect">What job you want?</label>
                            {% render_field filter.form.title class="form-control" placeholder="Job Title" %}
                        </div>

                        <!-- Search Field -->
                        <div class="intro-search-field">
                            <label for="intro-keywords" class="field-title ripple-effect">Where?</label>
                            {% render_field filter.form.city class="form-control" placeholder="Location" %}
                        </div>


                        <!-- Button -->
                        <div class="intro-search-button">
                            <button class="button ripple-effect">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Stats -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="intro-stats margin-top-45 hide-under-992px">
                        <li>
                            <strong class="counter">{{ total_jobs.count | intcomma }}</strong>
                            <span>Jobs Posted</span>
                        </li>
                        <li>
                            <strong class="counter">{{ total_companies | intcomma }}</strong>
                            <span>Companies</span>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>


    <!-- Content
    ================================================== -->
    <!-- Category Boxes -->
    <div class="section margin-top-65">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div class="section-headline centered margin-bottom-15">
                        <h3>Popular Job Categories</h3>
                        <a href="{% url 'jobs-by-categories' %}" class="headline-link">Browse All Jobs by Categories</a>

                    </div>

                    <!-- Category Boxes Container -->
                    <div class="categories-container">

                        <!-- Category Box -->
                        <a href="jobs-grid-layout-full-page.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-file-code-o"></i>
                            </div>
                            <div class="category-box-counter">612</div>
                            <div class="category-box-content">
                                <h3>Web & Software Dev</h3>
                                <p>Software Engineer, Web / Mobile Developer & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-list-layout-full-page-map.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-cloud-upload"></i>
                            </div>
                            <div class="category-box-counter">113</div>
                            <div class="category-box-content">
                                <h3>Data Science & Analitycs</h3>
                                <p>Data Specialist / Scientist, Data Analyst & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-list-layout-full-page-map.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-suitcase"></i>
                            </div>
                            <div class="category-box-counter">186</div>
                            <div class="category-box-content">
                                <h3>Accounting & Consulting</h3>
                                <p>Auditor, Accountant, Fnancial Analyst & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-list-layout-1.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-pencil"></i>
                            </div>
                            <div class="category-box-counter">298</div>
                            <div class="category-box-content">
                                <h3>Writing & Translations</h3>
                                <p>Copywriter, Creative Writer, Translator & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-list-layout-2.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-pie-chart"></i>
                            </div>
                            <div class="category-box-counter">549</div>
                            <div class="category-box-content">
                                <h3>Sales & Marketing</h3>
                                <p>Brand Manager, Marketing Coordinator & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-list-layout-1.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-image"></i>
                            </div>
                            <div class="category-box-counter">873</div>
                            <div class="category-box-content">
                                <h3>Graphics & Design</h3>
                                <p>Creative Director, Web Designer & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-list-layout-2.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-bullhorn"></i>
                            </div>
                            <div class="category-box-counter">125</div>
                            <div class="category-box-content">
                                <h3>Digital Marketing</h3>
                                <p>Darketing Analyst, Social Profile Admin & More</p>
                            </div>
                        </a>

                        <!-- Category Box -->
                        <a href="jobs-grid-layout-full-page.html" class="category-box">
                            <div class="category-box-icon">
                                <i class="icon-line-awesome-graduation-cap"></i>
                            </div>
                            <div class="category-box-counter">445</div>
                            <div class="category-box-content">
                                <h3>Education & Training</h3>
                                <p>Advisor, Coach, Education Coordinator & More</p>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Category Boxes / End -->


    <!-- Features Jobs -->
    <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <!-- Section Headline -->
                    <div class="section-headline margin-top-0 margin-bottom-35">
                        <h3>Featured Jobs</h3>
                        <a href="{% url 'joblist' %}" class="headline-link">Browse All Jobs</a>
                    </div>

                    <!-- Jobs Container -->
                    <div class="listings-container grid-layout margin-top-35">
                        {% for job in feature_jobs %}
                        <!-- Job Listing -->
                            <a href="{{ job.get_absolute_url }}" class="job-listing">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">
                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="{% static 'images/company-logo-01.png' %}" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h4 class="job-listing-company">{{ job.company }} <span class="verified-badge"
                                                                                      title="Verified Employer"
                                                                                      data-tippy-placement="top"></span>
                                        </h4>
                                        <h3 class="job-listing-title">{{ job.title }}</h3>
                                    </div>
                                </div>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <span class="bookmark-icon"></span>
                                    <ul>
                                        <li><i class="icon-material-outline-location-on"></i> {{ job.city }}</li>
                                        <li><i class="icon-material-outline-account-balance-wallet"></i> {{ job.salary }}</li>
                                        <li><i class="icon-material-outline-access-time"></i> {{ job.date_posted }}</li>
                                    </ul>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <!-- Jobs Container / End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Featured Jobs / End -->

    <!-- Popular Job by Location -->
    <div class="section margin-top-65 margin-bottom-30">
        <div class="container">
            <div class="row">

                <!-- Section Headline -->
                <div class="col-xl-12">
                    <div class="section-headline centered margin-top-0 margin-bottom-45">
                        <h3>Jobs By Location</h3>
                        <a href="{% url 'jobs-by-location' %}" class="headline-link">Browse All Jobs by Location</a>

                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="{% url 'jobs-in-ahmedabad' %}" class="photo-box small"
                       data-background-image="images/job-category-01.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Ahmedabad</h3>
                            <span>{{ jobs_ahm.count }}</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="{% url 'jobs-in-vadodara' %}" class="photo-box small"
                       data-background-image="images/job-category-02.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Vadodara</h3>
                            <span>{{ jobs_vadodara.count }}</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="{% url 'jobs-in-surat' %}" class="photo-box small"
                       data-background-image="images/job-category-04.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Surat</h3>
                            <span>{{ jobs_surat.count }}</span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="{% url 'jobs-in-bharuch' %}" class="photo-box small"
                       data-background-image="images/job-category-03.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Bharuch</h3>
                            <span>{{ jobs_bharuch.count }}</span>
                        </div>
                    </a>
                </div>


                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="jobs-list-layout-1.html" class="photo-box small"
                       data-background-image="images/job-category-05.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Rajkot</h3>
                            <span></span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="jobs-list-layout-full-page-map.html" class="photo-box small"
                       data-background-image="images/job-category-06.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Ankleshwar</h3>
                            <span></span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="jobs-grid-layout-full-page.html" class="photo-box small"
                       data-background-image="images/job-category-07.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Vapi</h3>
                            <span></span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Photo Box -->
                    <a href="../jobs-list-layout-2.html" class="photo-box small"
                       data-background-image="images/job-category-08.jpg">
                        <div class="photo-box-content">
                            <h3>Jobs in Gandhinagar</h3>
                            <span></span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- Features Cities / End -->


{% endblock %}