<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Hireo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/colors/blue.css">

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">

						<li><a href="#">Home</a>
							<ul class="dropdown-nav">
								<li><a href="index.html">Home 1</a></li>
								<li><a href="index-2.html">Home 2</a></li>
								<li><a href="index-3.html">Home 3</a></li>
							</ul>
						</li>

						<li><a href="#">Find Work</a>
							<ul class="dropdown-nav">
								<li><a href="#">Browse Jobs</a>
									<ul class="dropdown-nav">
										<li><a href="jobs-list-layout-full-page-map.html">Full Page List + Map</a></li>
										<li><a href="jobs-grid-layout-full-page-map.html">Full Page Grid + Map</a></li>
										<li><a href="jobs-grid-layout-full-page.html">Full Page Grid</a></li>
										<li><a href="jobs-list-layout-1.html">List Layout 1</a></li>
										<li><a href="jobs-list-layout-2.html">List Layout 2</a></li>
										<li><a href="jobs-grid-layout.html">Grid Layout</a></li>
									</ul>
								</li>
								<li><a href="#">Browse Tasks</a>
									<ul class="dropdown-nav">
										<li><a href="tasks-list-layout-1.html">List Layout 1</a></li>
										<li><a href="tasks-list-layout-2.html">List Layout 2</a></li>
										<li><a href="tasks-grid-layout.html">Grid Layout</a></li>
										<li><a href="tasks-grid-layout-full-page.html">Full Page Grid</a></li>
									</ul>
								</li>
								<li><a href="browse-companies.html">Browse Companies</a></li>
								<li><a href="single-job-page.html">Job Page</a></li>
								<li><a href="single-task-page.html">Task Page</a></li>
								<li><a href="single-company-profile.html">Company Profile</a></li>
							</ul>
						</li>

						<li><a href="#">For Employers</a>
							<ul class="dropdown-nav">
								<li><a href="#">Find a Freelancer</a>
									<ul class="dropdown-nav">
										<li><a href="freelancers-grid-layout-full-page.html">Full Page Grid</a></li>
										<li><a href="freelancers-grid-layout.html">Grid Layout</a></li>
										<li><a href="freelancers-list-layout-1.html">List Layout 1</a></li>
										<li><a href="freelancers-list-layout-2.html">List Layout 2</a></li>
									</ul>
								</li>
								<li><a href="single-freelancer-profile.html">Freelancer Profile</a></li>
								<li><a href="dashboard-post-a-job.html">Post a Job</a></li>
								<li><a href="dashboard-post-a-task.html">Post a Task</a></li>
							</ul>
						</li>

						<li><a href="#">Dashboard</a>
							<ul class="dropdown-nav">
								<li><a href="dashboard.html">Dashboard</a></li>
								<li><a href="dashboard-messages.html">Messages</a></li>
								<li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
								<li><a href="dashboard-reviews.html">Reviews</a></li>
								<li><a href="dashboard-manage-jobs.html">Jobs</a>
									<ul class="dropdown-nav">
										<li><a href="dashboard-manage-jobs.html">Manage Jobs</a></li>
										<li><a href="dashboard-manage-candidates.html">Manage Candidates</a></li>
										<li><a href="dashboard-post-a-job.html">Post a Job</a></li>
									</ul>
								</li>
								<li><a href="dashboard-manage-tasks.html">Tasks</a>
									<ul class="dropdown-nav">
										<li><a href="dashboard-manage-tasks.html">Manage Tasks</a></li>
										<li><a href="dashboard-manage-bidders.html">Manage Bidders</a></li>
										<li><a href="dashboard-my-active-bids.html">My Active Bids</a></li>
										<li><a href="dashboard-post-a-task.html">Post a Task</a></li>
									</ul>
								</li>
								<li><a href="dashboard-settings.html">Settings</a></li>
							</ul>
						</li>

						<li><a href="#" class="current">Pages</a>
							<ul class="dropdown-nav">
								<li><a href="pages-blog.html">Blog</a></li>
								<li><a href="pages-pricing-plans.html">Pricing Plans</a></li>
								<li><a href="pages-checkout-page.html">Checkout Page</a></li>
								<li><a href="pages-invoice-template.html">Invoice Template</a></li>
								<li><a href="pages-user-interface-elements.html">User Interface Elements</a></li>
								<li><a href="pages-icons-cheatsheet.html">Icons Cheatsheet</a></li>
								<li><a href="pages-login.html">Login & Register</a></li>
								<li><a href="pages-404.html">404 Page</a></li>
								<li><a href="pages-contact.html">Contact</a></li>
							</ul>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!--  User Notifications -->
				<div class="header-widget hide-on-mobile">
					
					<!-- Notifications -->
					<div class="header-notifications">

						<!-- Trigger -->
						<div class="header-notifications-trigger">
							<a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Notifications</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="icon-feather-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-manage-candidates.html">
												<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
												<span class="notification-text">
													<strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-bidders.html">
												<span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
												<span class="notification-text">
													<strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span> project
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-jobs.html">
												<span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
												<span class="notification-text">
													Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-candidates.html">
												<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
												<span class="notification-text">
													<strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
					
					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Messages</h4>
								<button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
									<i class="icon-feather-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar>
									<ul>
										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
												<div class="notification-text">
													<strong>David Peterson</strong>
													<p class="notification-msg-text">Thanks for reaching out. I'm quite busy right now on many...</p>
													<span class="color">4 hours ago</span>
												</div>
											</a>
										</li>

										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-offline"><img src="images/user-avatar-small-02.jpg" alt=""></span>
												<div class="notification-text">
													<strong>Sindy Forest</strong>
													<p class="notification-msg-text">Hi Tom! Hate to break it to you, but I'm actually on vacation until...</p>
													<span class="color">Yesterday</span>
												</div>
											</a>
										</li>

										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-online"><img src="images/user-avatar-placeholder.png" alt=""></span>
												<div class="notification-text">
													<strong>Marcin Kowalski</strong>
													<p class="notification-msg-text">I received payment. Thanks for cooperation!</p>
													<span class="color">Yesterday</span>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<a href="dashboard-messages.html" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>

				</div>
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="#"><div class="user-avatar status-online"><img src="images/user-avatar-small-01.jpg" alt=""></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="images/user-avatar-small-01.jpg" alt=""></div>
									<div class="user-name">
										Tom Smith <span>Freelancer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
						</div>
						
						<ul class="user-menu-small-nav">
							<li><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
							<li><a href="dashboard-settings.html"><i class="icon-material-outline-settings"></i> Settings</a></li>
							<li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>

						</div>
					</div>

				</div>
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<h2>User Interface Elements</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Pages</a></li>
						<li>User Interface Elements</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Table & Notifications
================================================== -->
<!-- Container -->
<div class="container">
		<div class="row">
		
		<div class="col-xl-6 col-md-6">

			<div class="section-headline margin-bottom-30">
				<h4>Table</h4>
			</div>
			<table class="basic-table">

				<tr>
					<th>Column 1</th>
					<th>Column 2</th>
					<th>Column 3</th>
				</tr>

				<tr>
					<td data-label="Column 1">Item</td>
					<td data-label="Column 2">Description</td>
					<td data-label="Column 3">Description</td>
				</tr>

				<tr>
					<td data-label="Column 1">Item</td>
					<td data-label="Column 2">Description</td>
					<td data-label="Column 3">Description</td>
				</tr>

				<tr>
					<td data-label="Column 1">Item</td>
					<td data-label="Column 2">Description</td>
					<td data-label="Column 3">Description</td>
				</tr>

				<tr>
					<td data-label="Column 1">Item</td>
					<td data-label="Column 2">Description</td>
					<td data-label="Column 3">Description</td>
				</tr>
			</table>
		</div>


		<div class="col-xl-6 col-md-6">

			<div class="section-headline margin-bottom-30">
				<h4>Notifications</h4>
			</div>

			<div class="notification error closeable">
				<p>Please fill in all the fields required</p>
				<a class="close" href="#"></a>
			</div>

			<div class="notification success closeable">
				<p>You did it, now relax and enjoy it</p>
				<a class="close" href="#"></a>
			</div>

			<div class="notification warning closeable">
				<p>Change this and that and try again</p>
				<a class="close" href="#"></a>
			</div>

			<div class="notification notice closeable">
				<p>Please check the information below</p>
				<a class="close" href="#"></a>
			</div>
		</div>

	</div>

</div>
<!-- Container / End -->


<!-- Tabs & Toggles
================================================== -->
<!-- Container -->
<div class="container">
		<div class="row">
		
		<div class="col-xl-6 col-md-6">

			<div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-30">
				<h4>Tabs</h4>
			</div>
			
			<!-- Tabs Container -->
			<div class="tabs">
				<div class="tabs-header">
					<ul>
						<li class="active"><a href="#tab-1" data-tab-id="1">Tab 1</a></li>
						<li><a href="#tab-2" data-tab-id="2">Tab 2</a></li>
						<li><a href="#tab-3" data-tab-id="3">Tab 3</a></li>
					</ul>
					<div class="tab-hover"></div>
					<nav class="tabs-nav">
						<span class="tab-prev"><i class="icon-material-outline-keyboard-arrow-left"></i></span>
						<span class="tab-next"><i class="icon-material-outline-keyboard-arrow-right"></i></span>
					</nav>
				</div>
				<!-- Tab Content -->
				<div class="tabs-content">
					<div class="tab active" data-tab-id="1">
						<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring</p>
					</div>
					<div class="tab" data-tab-id="2">
						<p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.</p>
					</div>
					<div class="tab" data-tab-id="3">
						<p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
						<p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
					</div>
				</div>
			</div>
			<!-- Tabs Container / End -->
		</div>


		<div class="col-xl-6 col-md-6">

			<div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-30">
				<h4>Accordion</h4>
			</div>

			<!-- Accordion -->
			<div class="accordion js-accordion">

				<!-- Accordion Item -->
				<div class="accordion__item js-accordion-item">
					<div class="accordion-header js-accordion-header">Panel 1</div> 

					<!-- Accordtion Body -->
					<div class="accordion-body js-accordion-body">

						<!-- Accordion Content -->
						<div class="accordion-body__contents">
							Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change.
						</div>

					</div>
					<!-- Accordion Body / End -->
				</div>
				<!-- Accordion Item / End -->

				<!-- Accordion Item -->
				<div class="accordion__item js-accordion-item active">
					<div class="accordion-header js-accordion-header">Panel 2</div> 

					<!-- Accordtion Body -->
					<div class="accordion-body js-accordion-body">

						<!-- Accordion Content -->
						<div class="accordion-body__contents">
							Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology after plug-and-play networks.
						</div>
						
						<!-- Sub Accordion Container -->
						<div class="accordion js-accordion">

							<!-- Sub Accordion -->
							<div class="accordion__item js-accordion-item">
								<div class="accordion-header js-accordion-header">Sub Panel 1</div> 
								<div class="accordion-body js-accordion-body">
									<div class="accordion-body__contents">
										Completely synergize scalable e-commerce rather than high standards in e-services. Assertively iterate resource maximizing products after leading-edge intellectual capital.
									</div>
								</div>
							</div>

							<!-- Sub Accordion -->
							<div class="accordion__item js-accordion-item">
								<div class="accordion-header js-accordion-header">Sub Panel 2</div> 
								<div class="accordion-body js-accordion-body">
									<div class="accordion-body__contents">
										Dynamically target high-payoff intellectual capital for customized technologies. Objectively integrate emerging core competencies before process-centric communities.
									</div>
								</div>
							</div>

						</div>
						<!-- Sub Accordion / End -->
					</div>
					<!-- Accordion Body / End -->
				</div>
				<!-- Accordion Item / End -->

				<!-- Accordion Item -->
				<div class="accordion__item js-accordion-item">
					<div class="accordion-header js-accordion-header">Panel 3</div> 

					<!-- Accordtion Body -->
					<div class="accordion-body js-accordion-body">

						<!-- Accordion Content -->
						<div class="accordion-body__contents">
							Efficiently enable enabled sources and cost effective products. Completely synthesize principle-centered information after ethical communities. Efficiently innovate open-source infrastructures via inexpensive materials.
						</div>

					</div>
					<!-- Accordion Body / End -->
				</div>
				<!-- Accordion Item / End -->

			</div>
			<!-- Accordion / End -->

		</div>

	</div>

</div>
<!-- Container / End -->


<!-- Buttons
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
				<h4>Buttons</h4>
			</div>
		</div>

		<div class="col-xl-4 col-md-4">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Default Button</h5>
			</div>
			<a href="#" class="button ripple-effect">Button</a>
			<a href="#" class="button dark ripple-effect">Button</a>
			<a href="#" class="button gray ripple-effect-dark">Button</a>
		</div>

		<div class="col-xl-4 col-md-4">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Button With Icon</h5>
			</div>
			<a href="#" class="button ripple-effect">Button <i class="icon-material-baseline-mail-outline"></i></a>
			<a href="#" class="button dark ripple-effect button-sliding-icon">Sliding Icon <i class="icon-feather-check"></i></a>
			<a href="#" class="button gray ripple-effect button-sliding-icon">Sliding Icon <i class="icon-feather-arrow-right"></i></a>
		</div>
		<div class="col-xl-4 col-md-4">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Big Button</h5>
			</div>
			<a href="#" class="button big ripple-effect">Button</a>
			<a href="#" class="button big dark ripple-effect">Button</a>
			<a href="#" class="button big gray ripple-effect-dark">Button</a>
		</div>
	</div>
</div>
<!-- Container / End -->


<!-- Default Inputs
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
				<h4>Default Inputs</h4>
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Input</h5>
			</div>
			<input placeholder="Placeholder">
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Input with border</h5>
			</div>
			<input class="with-border" placeholder="Placeholder">
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Input + icon with border</h5>
			</div>
			<div class="input-with-icon-left no-border">
				<i class="icon-material-outline-account-circle"></i>
				<input type="text" class="input-text" placeholder="Placeholder">
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Input + icon</h5>
			</div>
			<div class="input-with-icon-left">
				<i class="icon-material-outline-account-circle"></i>
				<input type="text" class="input-text with-border" placeholder="Placeholder">
			</div>
		</div>
		
	</div>
</div>
<!-- Container / End -->


<!-- Keywords Input
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
				<h4>Keywords Input</h4>
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Keywords input</h5>
			</div>

			<div class="keywords-container">
				<div class="keyword-input-container">
					<input type="text" class="keyword-input" placeholder="Add Keywords"/>
					<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
				</div>
				<div class="keywords-list">
					<!-- keywords go here -->
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Keywords input with preadded keywords and border</h5>
			</div>

			<div class="keywords-container">
				<div class="keyword-input-container">
					<input type="text" class="keyword-input with-border" placeholder="Add Keywords"/>
					<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
				</div>
				<div class="keywords-list">
					<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Mustard</span></span>
					<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Relish</span></span>
					<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Ketchup</span></span>
					<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Tabasco</span></span>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>
<!-- Container / End -->


<!-- Radio, Checkbox, Switch
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-12">
				<h4>Radio, Checkbox, Switch</h4>
			</div>
		</div>

		<div class="col-xl-4 col-md-4">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Checkbox</h5>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="chekcbox1" checked>
				<label for="chekcbox1"><span class="checkbox-icon"></span> Checkbox</label>
			</div>
			<br>
			<div class="checkbox">
				<input type="checkbox" id="chekcbox2">
				<label for="chekcbox2"><span class="checkbox-icon"></span> Checkbox</label>
			</div>
		</div>

		<div class="col-xl-4 col-md-4">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Radio Button</h5>
			</div>
			<div class="radio">
				<input id="radio-1" name="radio" type="radio" checked>
				<label for="radio-1"><span class="radio-label"></span> Radio Button</label>
			</div>

			<br>

			<div class="radio">
				<input id="radio-2" name="radio" type="radio">
				<label for="radio-2"><span class="radio-label"></span> Radio Button</label>
			</div>
		</div>

		<div class="col-xl-4 col-md-4">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Switch Button</h5>
			</div>
			<div class="switches-list">
				<div class="switch-container">
					<label class="switch"><input type="checkbox" checked><span class="switch-button"></span> Switch Button</label>
				</div>

				<div class="switch-container">
					<label class="switch"><input type="checkbox"><span class="switch-button"></span> Switch Button</label>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- Container / End -->


<!-- Sliders
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-45 padding-top-45 margin-bottom-12">
				<h4>Sliders</h4>
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-35">
				<h5>Range Slider</h5>
			</div>

			<!-- Range Slider -->
			<input class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="10" data-slider-max="250" data-slider-step="5" data-slider-value="[10,250]"/>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-35">
				<h5>Slider</h5>
			</div>

			<!-- Range Slider -->
			<input class="range-slider-single" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="25"/>
		</div>

	</div>
</div>
<!-- Container / End -->


<!-- Select Boxes
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-25">
				<h4>Select Boxes</h4>
			</div>

			<div class="notification notice closeable">
				<p>Select boxes are powered by <strong>Bootstrap Select</strong>. More examples at <a href="http://silviomoreto.github.io/bootstrap-select/examples/">http://silviomoreto.github.io/bootstrap-select/examples/</a></p>
				<a class="close" href="#"></a>
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Standard select boxes</h5>
			</div>

			<select class="selectpicker">
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-25 margin-bottom-12">
				<h5>Multiple select boxes</h5>
			</div>

			<select class="selectpicker" multiple>
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Select boxes with optgroups</h5>
			</div>
			<select class="selectpicker">
				<optgroup label="Picnic">
					<option>Mustard</option>
					<option>Ketchup</option>
					<option>Relish</option>
				</optgroup>
				<optgroup label="Camping">
					<option>Tent</option>
					<option>Flashlight</option>
					<option>Toilet Paper</option>
				</optgroup>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Live Search</h5>
			</div>

			<select class="selectpicker" data-live-search="true">
				<option>Hot Dog, Fries and a Soda</option>
				<option>Burger, Shake and a Smile</option>
				<option>Sugar, Spice and all things nice</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Limit the number of selections</h5>
			</div>

			<select class="selectpicker" multiple data-max-options="2">
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Pepper</option>
				<option>Relish</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Custom button text</h5>
			</div>

			<select class="selectpicker" multiple title="Choose one of the following...">
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Selected text format</h5>
			</div>

			<select class="selectpicker" multiple data-selected-text-format="count > 1">
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
				<option>Onions</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Select boxes with icons</h5>
			</div>

			<select class="selectpicker" multiple data-selected-text-format="count > 1">
				<option data-icon="icon-material-outline-assignment" selected>Assignment</option>
				<option data-icon="icon-material-outline-access-alarm">Alarm</option>
				<option data-icon="icon-material-outline-account-circle">Account</option>
				<option data-icon="icon-material-outline-cake">Cake</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Disabled options</h5>
			</div>

			<select class="selectpicker">
				<option>Mustard</option>
				<option disabled>Ketchup</option>
				<option>Relish</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>Subtext</h5>
			</div>

			<select class="selectpicker">
				<option data-subtext="French's">Mustard</option>
				<option data-subtext="Heinz">Ketchup</option>
				<option data-subtext="Sweet">Relish</option>
				<option data-subtext="Miracle Whip">Mayonnaise</option>
				<option data-subtext="Sweet & Spicy">Tabasco</option>
				<option data-subtext="Chunky">Salsa</option>
			</select>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-45 margin-bottom-12">
				<h5>All above select boxes are also available with border</h5>
			</div>

			<select class="selectpicker with-border" multiple>
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
				<option>Mayonnaise</option>
				<option>Tabasco</option>
				<option>Salsa</option>
			</select>
		</div>

	</div>
</div>
<!-- Container / End -->


<!-- Tooltips
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-25">
				<h4>Tooltips</h4>
			</div>
			<div class="notification notice closeable">
				<p>Tooltips are powered by powerful <strong>tippy.js</strong> tooltip library. More examples at <a href="https://atomiks.github.io/tippyjs/">https://atomiks.github.io/tippyjs/</a></p>
				<a class="close" href="#"></a>
			</div>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-10 margin-bottom-12">
				<h5>Dark Tooltips</h5>
			</div>
			<button class="button gray" data-tippy-placement="top" title="Tooltip">Top</button>
			<button class="button gray" data-tippy-placement="bottom" title="Tooltip">Bottom</button>
			<button class="button gray" data-tippy-placement="left" title="Tooltip">Left</button>
			<button class="button gray" data-tippy-placement="right" title="Tooltip">Right</button>
		</div>

		<div class="col-xl-6 col-md-6">
			<div class="section-headline margin-top-10 margin-bottom-12">
				<h5>Light Tooltips</h5>
			</div>
			<button class="button gray" data-tippy-placement="top" title="Tooltip" data-tippy-theme="light">Top</button>
			<button class="button gray" data-tippy-placement="bottom" title="Tooltip" data-tippy-theme="light">Bottom</button>
			<button class="button gray" data-tippy-placement="left" title="Tooltip" data-tippy-theme="light">Left</button>
			<button class="button gray" data-tippy-placement="right" title="Tooltip" data-tippy-theme="light">Right</button>
		</div>
			
	</div>
</div>
<!-- Container / End -->


<!-- Inline Elements
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-55 padding-top-45 margin-bottom-25">
				<h4>Inline Elements</h4>
			</div>
			<p>Etiam elit est, tincidunt non tincidunt <sup>This is sup element</sup> elit, sed do. Mauris aliquet ultricies <sub>This is sub element</sub> volutpat ipsum hendrerit sed neque sed sapien rutrum laoreet justo ut labolore magna aliqua. <del>This is deleted element</del> enim ad minim veniam. Lorem ipsum elit <mark class="color">mark element with “color” class.</mark>, consectetur adipisicing. Lorem <dfn>dfn element here</dfn> ipsum dosectetur tincidunt sit amet, <strong>strong text</strong>. Aliquam eu id lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Lorem ipsum dosectetur <code>Some code text</code> velit sagittis, <abbr title="The abbr tag">abbreviation</abbr> elit est <mark>highlighted text by using “mark” tag</mark>.</p>
		</div>
			
	</div>
</div>
<!-- Container / End -->


<!-- Icon Lists
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-40 padding-top-45 margin-bottom-25">
				<h4>Icon Lists</h4>
			</div>
			<div class="row">
				<div class="col-xl-4 col-md-4">
					<ul class="list-1">
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Integer molestie lorem at massa</li>
						<li>Facilisis in pretium nisl aliquet</li>
					</ul>
				</div>

				<div class="col-xl-4 col-md-4">
					<ul class="list-2">
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Integer molestie lorem at massa</li>
						<li>Facilisis in pretium nisl aliquet</li>
					</ul>
				</div>

				<div class="col-xl-4 col-md-4">
					<ul class="list-3 color">
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Integer molestie lorem at massa</li>
						<li>Facilisis in pretium nisl aliquet</li>
					</ul>
				</div>
			</div>
		</div>
			
	</div>
</div>
<!-- Container / End -->


<!-- Numbered Lists
================================================== -->
<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="section-headline border-top margin-top-40 padding-top-45 margin-bottom-25">
				<h4>Icon Lists</h4>
			</div>
			<div class="row">
				<div class="col-xl-4 col-md-4">
					<div class="numbered">
						<ol>
							<li>Praesent in libero vel pellentesque</li>
							<li>Proin fermentum eratin eget porttitor</li>
							<li>Maecenas quis consequat libero</li>
							<li>Nunc orci augue consequat</li>
							<li>Praesent in libero vel pellentesque</li>
							<li>Proin fermentum eratin eget porttitor</li>
						</ol>
					</div>
				</div>

				<div class="col-xl-4 col-md-4">
					<div class="numbered color">
						<ol>
							<li>Praesent in libero vel pellentesque</li>
							<li>Proin fermentum eratin eget porttitor</li>
							<li>Maecenas quis consequat libero</li>
							<li>Nunc orci augue consequat</li>
							<li>Praesent in libero vel pellentesque</li>
							<li>Proin fermentum eratin eget porttitor</li>
						</ol>
					</div>
				</div>

				<div class="col-xl-4 col-md-4">
					<div class="numbered color filled">
						<ol>
							<li>Praesent in libero vel pellentesque</li>
							<li>Proin fermentum eratin eget porttitor</li>
							<li>Maecenas quis consequat libero</li>
							<li>Nunc orci augue consequat</li>
							<li>Praesent in libero vel pellentesque</li>
							<li>Proin fermentum eratin eget porttitor</li>
						</ol>
					</div>
				</div>

			</div>
		</div>
			
	</div>
</div>
<!-- Container / End -->


<div class="margin-top-70"></div>

<!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="images/logo2.png" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option selected>English</option>
										<option>Français</option>
										<option>Español</option>
										<option>Deutsch</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Candidates</h3>
						<ul>
							<li><a href="#"><span>Browse Jobs</span></a></li>
							<li><a href="#"><span>Add Resume</span></a></li>
							<li><a href="#"><span>Job Alerts</span></a></li>
							<li><a href="#"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="#"><span>Browse Candidates</span></a></li>
							<li><a href="#"><span>Post a Job</span></a></li>
							<li><a href="#"><span>Post a Task</span></a></li>
							<li><a href="#"><span>Plans & Pricing</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="#"><span>Contact</span></a></li>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Terms of Use</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="#"><span>Log In</span></a></li>
							<li><a href="#"><span>My Account</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

</body>
</html>